@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: rgba(255,255,255,0.9);
  --bg-color: #081b29;
  --second-bg-color:  #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ================>  SPINNER */
.container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  inset: 0px;
  z-index: 100;
  visibility: hidden;
  animation: spinner 1s linear;
}

.ring{
  width: 100px;
  height: 100px;
  border: 0px solid white;
  border-radius: 50%;
  position: absolute;
  visibility: hidden;
}

.ring:nth-child(1){
  border-bottom-width: 8px;
  border-color: #c90a4e;
  animation: rotate1 1s linear;
}

@keyframes rotate1{
  from{
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      visibility: visible;
      opacity: 1;
  }
  to{
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      visibility: hidden;
      opacity: 0;
  }
}

.ring:nth-child(2){
  border-right-width: 8px;
  border-color: var(--main-color);
  animation: rotate2 1s linear;
}

@keyframes rotate2{
  from{
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      visibility: visible;
      opacity: 1;
  }
  to{
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      visibility: hidden;
      opacity: 0;
  }
}

.ring:nth-child(3){
  border-top-width: 8px;
  border-color: rgb(0, 247, 13);
  animation: rotate3 1s linear;
}

@keyframes rotate3{
  from{
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      visibility: visible;
      opacity: 1;
  }
  to{
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      visibility: hidden;
      opacity: 0;
  }
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    visibility: visible;
    opacity: 0.9;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 15px 10px -15px #111;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a img{
  width: 220px;
}
nav a img:hover {
  cursor: pointer;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--main-color);
  border-bottom-color: var(--main-color);
  color: var(--main-color);
}

/* SECTION BANNER */
section{
  width: 100%;
}

section .banner_Img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  animation: slide .5s linear forwards;
  transition: .5s all ease;
}

@keyframes slide{
  0%{
      transform: translateX(500px);
  }
  100%{
      transform: translateX(0px);
  }
}

/* SECTION BIO */
main{
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.hr-lines{
  position: relative;
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.hr-lines:before{
  content:" ";
  height: 2px;
  width: 100px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after{
  content:" ";
  height: 2px;
  width: 100px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.contact{
  margin-bottom: 30px;
}

.contact-bio, .contact-home{
  width: 300px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.contact-bio:hover, .contact-home:hover{
  cursor: pointer;
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  padding: 10px;
}

.home{
  display: flex;
  align-items: center;
  gap: 3px;
  color: #00abf0;
  font-weight: 600;
  height: 30px;
}

.home span{
  margin-bottom: 3px;
}

.mail{
  transition: all 0.5s ease-in-out;
}

.mail:hover{
  letter-spacing: 0.3px;
  color: var(--main-color);
  font-weight: 600;
}

.contact-infos{
  display: flex;
  gap: 5px;
  font-size: 14px;
  text-transform: uppercase;
  height: auto;
  margin-bottom: 20px;
}

.contact-infos span{
  color: #b31412;
  font-size: 25px;
  margin-top: -2px;
}

main h1{
  letter-spacing: 5px;
  margin: 20px 0;
}

main p{
  text-align: justify;
}

.main_text h2{
  text-transform: uppercase;
  font-size: 30px;
  margin: 20px 0;
  letter-spacing: 5px;
}

.main_text p {
  text-align: justify;
}

/* SECTION CARROUSSEL 3D */
.gallery{
  width: 80%;
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  margin: 15rem 0 -10rem ;
}

.gallery-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-width: 1000px;
  
}

.gallery-item{
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all .3s ease-in-out;
  width: 30%;
  z-index: 0;
  border-radius: 15px;
  object-fit: cover;
}

.gallery-item-1{
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4{
  height: 250px;
  opacity: .8;
  width: 36%;
  z-index: 1;
}

.gallery-item-2{
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3{
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  opacity: 1;
  height: 300px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  z-index: 2;
}

.gallery-item-4{
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5{
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-controls{
  display: flex;
  justify-content: center;
  height: auto;
}

.gallery-controls button{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls-button:focus{
  outline: none;
}

.gallery-controls-précédent{
  position: relative;
}

.gallery-controls-précédent:hover{
  color: #00abf0;
}

.gallery-controls-précédent::before{
  position: absolute;
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 2px;
  left: -30px;
  padding: 10px;
  bottom: 35%;
  transform: rotate(135deg)translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 2px;
}

.gallery-controls-précédent:hover::before{
  left: -40px;
  border: solid var(--main-color);
  border-width: 0 5px 5px 0;
}

.gallery-controls-suivant{
  position: relative;
}

.gallery-controls-suivant:hover{
  color: #00abf0;
}

.gallery-controls-suivant::before{
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 2px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 6px;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 2px;
}

.gallery-controls-suivant:hover:before{
  right: -40px;
  border: solid var(--main-color);
  border-width: 0 5px 5px 0;
}

.gallery-nav{
  bottom:-15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li{
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected{
  background: #555;
}
/* ==================> SECTION FOOTER  */
footer{
    width: 100%;
    height: 230px;
    background-color: #081b29;
    padding:40px;
    margin-top: 20px;
}

.footer_icon{
    margin: 0 auto;
    padding: 20px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .8rem;
}

i{
  color: white;
  background-color: #333;
  border-radius: 50%;
  font-size: 25px;
  padding: 15px;
}

i:hover{
  background-color: white;
  color: black;
  transition: .3s;
}

.footer_icon .icon:hover{
  cursor: pointer;
  animation: pulse 1s infinite;
  transition: .3s;
}


@keyframes pulse {
  0% { 
    transform: scale(1); 
  }
  70% { 
    transform: scale(.9); 
  }
  100% { 
    transform: scale(1);
  }
}

footer p{
  color: white;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  margin-top: 40px;
}


/* MEDIA QUERIES  */
@media (width < 1060px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 84px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .text-box{
    width: 60%;
    top: 140px;
    left: 40px;
  }
}


/* PLUS ========================> */
.row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3.5rem;
}

.map{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px #111;
}

form{
  width: 100%;
  height: 500px;
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px #111;
}

.input{
  display: flex;
  gap: 1rem;
  width: 100%;
}

.input-box-user{
  flex: 1 1 45rem;
  width: 40%;
  height: 40px;
  margin-bottom: 15px;
  position: relative;
}

.input-box-user span{
  position: absolute;
  color: #fff;
  top: 10px;
  left: 10px;
}

.input-box-user input{
  width: 100%;
  height: 40px;
  background-color: var(--bg-color);
  border-radius: 10px ;
  padding: 10px 10px 10px 35px;
  color: #fff;
  border: transparent;
}

.input-box{
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.input-box input{
  width: 100%;
  height: 50px;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 10px 10px 10px 35px;
  color: #fff;
  border: transparent;
}

textarea{
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  border: transparent;
}

.input-box span{
  position: absolute;
  color: #fff;
  top: 17px;
  left: 10px;
}

.btn{
  width: 100px;
  padding: 6px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}

.btn:hover{
  background: var(--bg-color);
  letter-spacing: 0.3px;
  color: #fff;
  cursor: pointer;
}

