*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

  
.head_arrow--color {
    color: black;
    position: absolute;
    font-size: 33px;
    left: 40px;
    top: 25px;
}

.head_arrow--colorfull {
    position: absolute;
    font-size: 33px;
    left: 40px;
    top: 25px;
    background: linear-gradient(90deg, #FF79DA 40%, #9356DC 75%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
}

.head_arrow:hover .head_arrow--color {
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-25px);
}

.head_arrow:hover .head_arrow--colorfull {
    opacity: 1;
    animation: strillé 0.3s linear;
}

  /* ANIMATION ARROWHEAD */
@keyframes strillé {
    0% {
      background-size: 0% 100%;
    }
    100% {
      background-size: 100% 100%;
    }
  }

.slider-wrapper{
    position: relative;
}

.slider{
    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    max-width: clamp(320px, 75vw, 800px);
    max-height: 95vh;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider img{
    scroll-snap-align: start;
    width: clamp(320px, 75vw, 800px);
    height: clamp(240px, 75vh, 600px);
    object-fit: cover;
    /*animation: slide 12s linear infinite;*/
}

/*@keyframes slide{
    0%,10%{
        transform: translateX(0);
    }
    15%,25%{
        transform: translateX(-53vw);
    }
    30%,40%{
        transform: translateX(-106vw);
    }
    45%,55%{
        transform: translateX(-159vw);
    }
    60%,70%{
        transform: translateX(-212vw);
    }
    75%,85%{
        transform: translateX(-265vw);
    }
    90%,100%{
        transform: translateX(-318vw);
    }
}*/

.dots{
    position: absolute;
    display: flex;
    bottom: -40px;
    left: 50%;
    gap: 15px;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots a {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.75;
    transition: opacity ease 250ms;
    cursor: pointer;
}

.dots a:hover {
   opacity: 1;
}







